/* basics */

body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  cursor: default;
}

/* general */

.center {
    margin: auto;
}

.table {
  display: table;
}

.table-row  {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display:none;
}

.rounded {
  display: inline-block;
  height: 1em;
  width: 1em;

  border-radius: 25px;
  border: 1px solid black;

  position:relative;
  top: 2px;
}

/* specific */

.container-main {
  width: 300px;
  margin-top: 10%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.container-input {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
}

.container-input #title {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container-input .with-spacer {
  margin-bottom: 1rem;
}

.container-input .input-epoche {
  width: 7rem;
  margin-left: 1rem;
}

.container-input .info-epoche {
  width: auto;
}

.container-input .info-epoche .table-cell {
  padding-right: 1rem;
}

.container-input .btn-minimal, .container-input .btn-minimal:focus {
  padding-left: 0;
  padding-right: 0;
  outline: none;
  text-decoration: none;
}

@media (max-width: 300px) {
  .container-main {
    margin-top:0;
    width: 300px;
    border: 0;
  }
  .container-input #title {
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

/* bootstrap hacks */
.form-inline .form-control {
  display: inline-block;
  vertical-align: middle;
}
