.pointer {
  cursor: pointer;
}

.hidden {
  display:none;
}

.rounded {
  display: inline-block;
  height: 1em;
  width: 1em;

  border-radius: 25px;
  border: 1px solid black;

  position:relative;
  top: 2px;
}

body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  cursor: default;
}

@media (min-width: 768px) {
  .container {

  }
}

.container {
  background-color: lightgrey;
  min-width: 250px;
  max-width: 500px;
}
