body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fdfdfd;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  cursor: default;
}